body, html{
	margin: 0px;
	padding: 0px;
	background-color: #F5F5F5;
}


.row{
	padding: 0px;
	margin: 0px;
}
.mainContainer, .warper{
	display: block;
}
.headerContainer{
	/*background-color: #c00; */
	background-color: #808080;   /*uncheck comment for default */
}
.err{
	color: #c00;
}
.success{
	color:#000;
}
.logoSection{
	font-weight: bold;
	color: #ccc;
	background-color: #fff;
	text-align: center;
	text-shadow: 1px 1px 3px #888;
	padding: 8px 15px;
	font-size: 1.2em;
	text-transform: uppercase;
	border-radius: 3px;
}
.logoSection, .navSection {
	display: inline-block;
	vertical-align: middle;
}
.back{
	display: block;
	float: right;
	border-radius: 2em;
	text-decoration: none;
	/*width: 200px;
	height: 200px;*/
	padding: 8px 20px;
	color: #303030;
	font-weight: bold;
	text-indent: -9999px;
	background: url(../images/back.png) no-repeat top left;
	background-size: 100% 100%;
}
.back:hover{
	text-decoration: none;
	color: #000;
	padding: 8px 21px;
}

ul.navItems{
	margin: 0px;
	padding :0px;
	list-style: none;
}
ul.navItems li{
	display: inline-block;
	border-right: 1px solid #990000; uncheck comment for default
}
ul.navItems li:last-child{
	border-right: none;
}
ul.navItems li a{
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	color: #F2C7C7; /*uncheck comment for default*/
	font-size: 1em;
}
ul.navItems li:hover a{
	color: #FAE6E6;
}
ul.navItems li a.active{
	color: #000;
}

.userLoginInfo{
	display: block;
	padding: 8px 15px;
	font-size: 0.86em;
	text-align: right;
}

/*---------- LOGIN FORM STYLES---*/
.loginForm{
	display: block;
	margin: 120px auto;
	width: 30%;
}
.loginForm .panel{
	padding: 0px 20px;
}
.btn-danger{
	background-color: #c00;
}
.btn-danger.active, 
.btn-danger.focus, 
.btn-danger:active, 
.btn-danger:focus, 
.btn-danger:hover, 
.open>.dropdown-toggle.btn-danger{
	background-color: #6E0202;
}
/*---------- LOGIN FORM STYLES END---*/


/*---------- Body  STYLES END---*/
.bodyContainer{
	display: block;
	padding: 20px 0px;
	background-color: #fff;
}
.addProduct{
	padding: 10px 0px;
}
.formHolder{
	width: 90%;
}
.formButHolder{
	display: block;
	padding: 8px 0px;
	background-color: #f2f2f2;
	margin: -15px;
	margin-top: 20px;
	border-radius: 0px 0px 3px 3px;
}

/*  Customer Page Styles ------------------*/
.cmHolder{
	display: block;
}
.cmHolder .tabContainer{
	display: block;
}
.cmHolder .tabContainer ul.tabItems{
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-align: right;
}
.cmHolder .tabContainer ul.tabItems > li{
	display: inline-block;
	padding: 8px 12px;
	margin: 2px;
	background-color: #D2D2D2;
	color: #000;
	border-radius: 8px;
}
.cmHolder .tabContainer ul.tabItems > li.active{
	box-shadow: 1px 1px 3px #888;
	background-color: #000;
	color: #fff;
}
.cmHolder .tabContainer ul.tabItems > li:hover{
	cursor: pointer;
	box-shadow: 0px 0px 2px #000;
}
.arrengment{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.arrengment li{
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #ccc;
	border-radius: 8px;
}
.arrengment li:nth-child(2){
	text-align: center;
	border: none;
	padding: 0px 12px;
	color: #555;
	font-style: italic;
}
.arrengment li:first-child, .arrengment li:last-child{
	min-height: 350px;
	width: 45%;
	padding: 20px 10px;
}
.textareaSize{
	min-height: 5.1em;
}

.addCustomerRow{
	display: block;
}
.addCustomerRow ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.addCustomerRow ul li{
	display: block;
	margin: 3px 0px;
	background-color: #f2f2f2;
	border: 1px solid #ccc;
	padding: 8px 12px;
	border-radius: 5px;
}
.addCustomerRow ul li .itemHolder > b{
	display: inline-block;
}
.addCustomerRow ul li .itemHolder > b:after{
	content: " :"
}
.addCustomerRow ul li .itemHolder .details{
	display: inline-block;
	font-size: 0.86em;
	color: #555;
}
.addCustomerRow ul li .itemHolder .details b{
	font-weight: normal;
	color: #000;
}
/*  Customer Page Styles End ------------------*/

/*  Product Page Styles ------------------*/
.pmContentHolder .itemHolder{
	display: block;
}
.pmContentHolder .itemHolder table tr:first-child,
.addCustomerRow table tr:first-child{
	background-color: #303030;
	color: #fff;
}
/*  Product Page Styles End ------------------*/


/* -- FOOTER STYLES --------*/
.footerContainer{
	display: block;
	border-top: 1px solid #ccc;
	background-color: #F5F5F5;
	padding: 15px 0px;
	text-align: center;
}
.footerContainer a{
	text-decoration: none;
	color: #303030;
	font-weight: bold;
}


/* Angular js Animations -----------*/
.ng-enter{
	transition: 0.5s;
	opacity: 0;
}
.ng-enter-stagger{}
.ng-enter-active{
	opacity: 1;
}

.ng-leave{
	transition: 0.1s;
	opacity: 1;
}
.ng-leave-stagger{}
.ng-leave-active{
	opacity: 0;
}
/* DC Form Page Terms and Conditions*/
.termsAndCondition{
	display: block;
	padding: 10px 0px;
	font-size: 0.86em;
	color: #555;
	border-bottom: 1px dashed #ccc;
	border-top: 1px dashed #ccc;
	margin-top: 20px;
}
.termsList{
	padding: 0px 0px 0px 15px;
	margin: 0px;
	font-style: italic;
}