<div class="cmHolder">
	<div class="tabContainer">
		<ul class="tabItems">
			<li ng-class="{'active': tabActive == 'addCustomer'}" ng-click="addCustomerTab()">Add Customer</li>
			<li ng-class="{'active': tabActive == 'customerList'}"  ng-click="customerListTab()">Customers List</li>
		</ul>
	</div>
	<hr>
	<div class="cmContentHolder">
		<div class="addCustomerRow" ng-if="tabActive== 'addCustomer'">
			<h3>Add Customer</h3>
			<form class="form">
				<div class="row">
					<div class="col-sm-6 addFrom">
						<div class="form-group">
							<label for="companyName">Company Name</label>
							<input type="text" ng-model="company.company" class="form-control" name="companyName" id="companyName" placeholder="ex: Company Name">
						</div>
						<div class="form-group">
							<label for="custName">Name</label>
							<input type="text" ng-model="company.customer" class="form-control" name="customerName" id="custName" placeholder="ex: giriy">
						</div>
						<div class="form-group">
							<label for="custPhone">Phone</label>
							<input type="text" class="form-control" ng-model="company.phone" name="customerPhone" id="custPhone" placeholder="ex: 7893585898">
						</div>
						<div class="form-group">
							<label for="custEmail">Email</label>
							<input type="text" class="form-control" ng-model="company.email" name="customerEmail" id="custEmail" placeholder="ex: egp.designs@gmail.com">
						</div>
					</div>
					<div class="col-sm-6">
						<div class="form-group">
							<label for="address">Address</label>
							<textarea class="form-control textareaSize" ng-model="company.address" name="customerAddress" id="address"></textarea>
						</div>
						<div class="form-group">
							<label for="description">Description</label>
							<textarea class="form-control textareaSize" ng-model="company.description" name="companyDescription" id="description"></textarea>
						</div>
						<div class="form-group">
							<label for="custType">Type</label>
							<input type="text" class="form-control" ng-model="company.companyType" name="companyType" id="custType" placeholder="ex: Manugacturer">
						</div>
					</div>
					<div class="col-sm-12 form-group text-left">
						<input type="button" ng-click="addCustomer($event, company)" class="btn btn-danger" value="Add Customer">
					</div>
				</div>
			</form>
		</div>


		<!-- Customer List Section -->
		<div class="addCustomerRow" ng-if="tabActive== 'customerList'">
			<ul>
				<li ng-repeat="item in cList">
					<div class="itemHolder">
						<b>{{item.cName}}</b>
						<div class="details">
							<b>Company :</b>{{item.cCompany}} ({{item.cType}}), 
							<b>Address :</b>{{item.cAddress}}, 
							<b>Description :</b>{{item.cDesc}}
						</div>
					</div>
				</li>
			</ul>
		</div>


	</div>
</div>