<div class="cmHolder">
	<div class="tabContainer">
		<ul class="tabItems">
			<li ng-class="{'active': tabActive == 'addCustomer'}" ng-click="addCustomerTab()">Add Customer</li>
			<li ng-class="{'active': tabActive == 'customerList'}"  ng-click="customerListTab()">Customers List</li>
		</ul>
	</div>
	<hr>
	<div class="cmContentHolder">
		<div class="addCustomerRow" ng-if="tabActive== 'addCustomer'">
			<h3>Add Customer</h3>
			<div ng-include="'./html/cmEntryForm.html'"></div>
		</div>
		<!-- Customer List Section -->
		<div class="addCustomerRow" ng-if="tabActive== 'customerList'">
			<table class="table table-striped table-bordered table-hover table-condensed">
				<tr>
					<td>SNo</td>
					<td>Company</td>
					<td>Name</td>
					<td>Address</td>
					<td>Phone</td>
					<td>Email</td>
					<td>Tin</td>
					<td>Description</td>
					<td>Options</td>
				</tr>
				<tr ng-repeat="(k,item) in cList">
					<td>{{k+1}}</td>
					<td>{{item.company | uppercase}}</td>
					<td>{{item.name}}</td>
					<td>{{item.address}}</td>
					<td>{{item.phone}}</td>
					<td>{{item.email}}</td>
					<td>{{item.tin}}</td>
					<td>{{item.desc}}</td>
					<td>
						<a  href="#/customers/{{item.cid}}" ng-click="paramAction(item)" class="btn btn-danger">E</a>
						<a  ng-click="delCustomer($event, item)" class="btn btn-danger">D</a>
					</td>
				</tr>
			</table>
			<!-- {{cList | json}} -->
		</div>
	</div>
</div>