<div class="container">
<h1>DC</h1>
<div class="panel panel-default formHolder">
	<div class="panel-body">
		<form method="post" class="form-inline">
			<div class="customerDetails">
				<label>Customer Details</label>
				<!-- <input type="text" ng-model="dc.num" name="num" id="num" class="num form-control" placeholder="Dc Num"> -->
				<input type="text" ng-model="dc.date" name="date" id="date" class="date form-control" placeholder="Dc Date" ng-blur="setDateForm(dc.date)">
				<!-- <input type="text" ng-model="dc.email" name="email" id="email" class="customer form-control" placeholder="Customer"> -->
				<select name="customer" ng-model="dc.customer" id="customer" class="customer form-control" ng-blur="setCustomerForm(dc.customer)">
					<option ng-repeat="(key, val) in getProducts" value="{{val.iid}}">{{val.iName}}</option>
				</select>
			</div>

			<div class="addProduct">
				<input type="text" ng-model="product.name" name="name" id="name" class="name form-control" placeholder="Name / Code">
				<input type="text" ng-model="product.rate" name="rate" id="rate" class="Phone form-control" placeholder="Rate">
				<input type="text" ng-model="product.qty" name="qty" id="qty" class="email form-control" placeholder="Quantity">
				<a class="btn btn-danger" ng-click="addProductRow($event, product)">Add Row</a>
			</div>
			<div class="productList">
				<!-- {{productList.length}} -->
				<table ng-if="productList.length > 0" class="table  table-striped">
					<tr>
						<th>S.No.</th>
						<th>Description</th>
						<th>Qty</th>
						<th>Rate</th>
						<th>Amount</th>
						<th class="text-center">Options</th>
					</tr>
					<tr ng-repeat="(key, val) in productList track by key">
						<td>{{key+1}}</td>
						<td>{{val.name}}</td>
						<td>{{val.qty}}</td>
						<td>{{val.rate}}</td>
						<td>{{val.rate*val.qty}}</td>
						<td class="text-right">
							<a href="#" ng-click="editRow($event, key, val)" class="btn btn-danger">E</a>
							<a href="#" ng-click="delRow($event, key, val)" class="btn btn-danger">D</a>
						</td>
					</tr>
				</table>
			</div>
			<div class="formButHolder text-center" ng-if="productList.length > 0">
				<button class="btn btn-danger" ng-click="formSubmit($event, dc)">Add</button>
				<button class="btn btn-danger" ng-click="formSubmit($event, dc)">Save &amp; Preview</button>
				<button class="btn btn-danger" ng-click="formCancel($event, productList)">Cancel</button>
			</div>
		</form>
	</div>
</div>

	<div class="resp">{{msg.phone}}</div>
</div>