<a href="#/reports" class="btn btn-primary">Go Back</a>
<div class="mainContainer">
	<!-- {{nrData |  json}} -->
	<br>
	<div class="dcBillFormat" id="dcBillFormat">
		<div class="companyHeading section1 text-center">
			<h1 style="text-transform: uppercase;">Indotech Technologies</h1>
			<p>5-1-526, 2nd Floor, Ganji Complex, Hill Street Ranigunj, Secunderabad - 500003, 9299701935, indotech06@gmail.com</p>
			<p>COMPUTER SALES / SERVICE / AMC's / NETWORKING - CCTV SOLUTIONS - WEB SOLUTIONS</p>
		</div>
		<div class="dcTitle section2 text-center" style="padding: 20px 0px;"><h2>Delivery Challan</h2></div>
		<div class="section3">
			<table class="table">
				<tr>
					<td class="customerInfo">
						<b>M/s {{nrData.customer.name}}</b>
						<p>{{nrData.customer.address}}</p>
					</td>
					<td class="billDetails">
						<table>
							<tr>
								<td>Date</td>
								<td>{{nrData.billDate}}</td>
							</tr>
							<tr>
								<td>Bill No </td>
								<td>{{nrData.billno}}</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>
		<div class="section4">
			<div class="description" style="padding: 20px;">This is the bill description</div>
		</div>
		<div class="section5">
			<table class="table">
				<tr>
					<th>Sno</th>
					<th>Product Name</th>
					<th>Qty</th>
					<th>Rate</th>
					<th>Amount</th>
				</tr>
				<tr ng-repeat="(k, v) in nrData.dcItemList">
					<td>{{k+1}}</td>
					<td>{{v.name}}</td>
					<td>{{v.rate}}</td>
					<td>{{v.qty}}</td>
					<td><b>{{v.amt}}</b></td>
				</tr>
				<tr>
					<td colspan="4">Amount</td>
					<td><b>{{nrData.totalAmount}}</b></td>
				</tr>
			</table>
		</div>
	</div>
	<div class="print">
		<a class="btn btn-primary" ng-click="printIt()">Print</a>
	</div>
</div>